:root{
  --bg:#8d9297;
  --dark:#102835;
  --dark2:#102d3c;
  --white:#fff;
  --black:#2f2e2e;

  --font:"Poppins",system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;

  --shadow:0 8px 18px rgba(0,0,0,.2);
  --shadowSoft:0 4px 10px rgba(0,0,0,.16);
}

*,*::before,*::after{box-sizing:border-box}

html,body{
  margin:0;
  padding:0;
  font-family:var(--font);
  background:#ededed;
  color:#ffffff;
}

img{display:block;max-width:100%}
a{color:inherit;text-decoration:none}
::selection{background:rgba(62,160,255,.25)}
html{scroll-behavior:smooth}

@media (min-width:1024px){
  main{scroll-snap-type:y mandatory}
}

.hero,.section{
  min-height:100vh;
  scroll-snap-align:start;
}

.project-mini{
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
}
